<div class="avatar-container">
  <div class="overlay"></div>
  <div class="image-container">
    <img src="../../../../assets/image/profile.jpg" alt="profileImage">
    <div class="name">
      Engku Muhammad Ihsan
    </div>
    <div class="position" translate="position">
      Fullstack Engineer / System Engineer
    </div>
  </div>

</div>
<app-grid-list 
[mobileViewCards]="mobileViewCards"
[webViewCards]="webViewCards"
>
<!-- *cardItem="let card" === <ng-template cardItem let-item> -->
  <mat-card-content *cardItem="let card" class="card-content" [ngSwitch]="card.content">
    <app-hobby *ngSwitchCase="'hobbyContent'" class="hobby-content"></app-hobby>
    <div *ngSwitchCase="'basicInfoContent'">
      <app-basic-info></app-basic-info>
    </div>
    <div *ngSwitchDefault class="self-intro-content-container">
      <div class="content" translate>{{card.content}}</div>
    </div>
  </mat-card-content>
</app-grid-list>
