@import '../../../../styles/components/_variable';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  &__avatar {
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 7em;
    width: 7em;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    
    // BTN CSS
    outline: none;
    cursor: pointer;
    transform: scale(0.9);
    transition: .2s all;

    &:hover {
      transform: scale(1);
      -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
      box-shadow: $btn-hover-box-shadow;
    }
    &:active {
      -webkit-transform: translateY(-1px);
                transform: translateY(-1px);
      box-shadow: $btn-active-box-shadow;
    }
  }
  .mat-toolbar {
    background: inherit;
    display: flex;
    justify-content: center;
  }
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

a {
  mat-icon {
    margin-right: 1em;
  }
}
.title-container {
  width: 40%;
  display: flex;
  align-items: center;
}
.setting-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.title-icon {
  margin-left: 10px;
}