.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

a {
  mat-icon {
    margin-right: 1em;
  }
}
.title-container {
  width: 40%;
  display: flex;
  align-items: center;
}
.setting-container {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.title-icon {
  margin-left: 10px;
}