@use '~@angular/material' as mat;
@import './material-styles';

div[class*="dark-"] snack-bar-container.mat-snack-bar-container.snacker {
  background-color: #3e3e3e!important;
}

div[class*="dark-"] simple-snack-bar.mat-simple-snackbar,
div[class*="dark-"] .snacker div.mat-simple-snackbar-action {
    color: #e1e1e1;
}

div[class*="dark-"] .snacker-red simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$red-palette, 500);
}

div[class*="dark-"] .snacker-pink simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$pink-palette, 200);
}

div[class*="dark-"] .snacker-purple simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$purple-palette, A100);
}

div[class*="dark-"] .snacker-deep-purple simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$deep-purple-palette, A100);
}

div[class*="dark-"] .snacker-indigo simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$indigo-palette, A100);
}

div[class*="dark-"] .snacker-blue simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$blue-palette, 500);
}

div[class*="dark-"] .snacker-light-blue simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$light-blue-palette, A100);
}

div[class*="dark-"] .snacker-cyan simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$cyan-palette, A200);
}

div[class*="dark-"] .snacker-teal simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$teal-palette, A200);
}

div[class*="dark-"] .snacker-green simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$green-palette, A400);
}

div[class*="dark-"] .snacker-light-green simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$light-green-palette, A400);
}

div[class*="dark-"] .snacker-lime simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$lime-palette, A400);
}

div[class*="dark-"] .snacker-yellow simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$yellow-palette, A200);
}

div[class*="dark-"] .snacker-amber simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$amber-palette, A200);
}

div[class*="dark-"] .snacker-orange simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$orange-palette, A200);
}

div[class*="dark-"] .snacker-deep-orange simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$deep-orange-palette, A200);
}

div[class*="dark-"] .snacker-brown simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$brown-palette, 300);
}

div[class*="dark-"] .snacker-grey simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$grey-palette, 300);
}

div[class*="dark-"] .snacker-blue-grey simple-snack-bar.mat-simple-snackbar {
    color: map-get(mat.$blue-grey-palette, 200);
}

div[class*="light-"] snack-bar-container.mat-snack-bar-container.snacker {
  background-color: #ffffff!important;
}

div[class*="light-"] simple-snack-bar.mat-simple-snackbar,
div[class*="light-"] .snacker div.mat-simple-snackbar-action {
    color: #3e3e3e;
}

div[class*="light-"] .snacker-red simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$red-palette, 500);
}

div[class*="light-"] .snacker-pink simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$pink-palette, A200);
}

div[class*="light-"] .snacker-purple simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$purple-palette, A400);
}

div[class*="light-"] .snacker-deep-purple simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$deep-purple-palette, A200);
}

div[class*="light-"] .snacker-indigo simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$indigo-palette, A200);
}

div[class*="light-"] .snacker-blue simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$blue-palette, 500);
}

div[class*="light-"] .snacker-light-blue simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$light-blue-palette, A400);
}

div[class*="light-"] .snacker-cyan simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$cyan-palette, A700);
}

div[class*="light-"] .snacker-teal simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$teal-palette, A700);
}

div[class*="light-"] .snacker-green simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$green-palette, A700);
}

div[class*="light-"] .snacker-light-green simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$light-green-palette, A700);
}

div[class*="light-"] .snacker-lime simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$lime-palette, A700);
}

div[class*="light-"] .snacker-yellow simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$yellow-palette, A700);
}

div[class*="light-"] .snacker-amber simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$amber-palette, A700);
}

div[class*="light-"] .snacker-orange simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$orange-palette, A400);
}

div[class*="light-"] .snacker-deep-orange simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$deep-orange-palette, A400);
}

div[class*="light-"] .snacker-brown simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$brown-palette, 400);
}

div[class*="light-"] .snacker-grey simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$grey-palette, 500);
}

div[class*="light-"] .snacker-blue-grey simple-snack-bar.mat-simple-snackbar {
  color: map-get(mat.$blue-grey-palette, 500);
}