mat-card {
    margin:  1em 2em 1em 2em;
    height: 10em;
    display: flex;
    font-size: 10px;
    padding: 0em 0.5em 0em 0em;
    .scholar {
        font-weight: 600;
        background: #00334D;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        min-width: 13em;
        margin-right: 1em;

        .duration, .name {
            width: 100%;
            text-align: center;
        }
    }

    .description {
        width: 70%;
        padding: 1em 0em 1em 0em;
        overflow: auto;
        
        .school, .content-list {
            overflow-wrap: break-word;
        }
        .school {
            padding: 0em 0.5em 0em 0em;
        }
        .content-list {
            padding: 1em 0.5em 0em 0em;
            .content {
                margin-left: 1em;
            }
        }
    }
}