<div class="card-container">
    <mat-card *ngFor="let card of educations">
        <div class="scholar">
            <div class="content">
                <div class="duration" [translate]="card.duration"></div>
                <div class="name" [translate]="card.scholar"></div>
            </div>
        </div>
        <div class="description">
            <div class="school" [translate]="card.school"></div>
            <div class="content-list">
                <div class="content" *ngFor="let c of card.contents" [translate]="c"></div>
            </div>
        </div>
    </mat-card>
</div>