<div class="carousel-container">
    <app-buttons *ngIf="showControls" class="previous-button" [buttonMetaData]="previousButton" (click)="previousButton.clickEvent()"></app-buttons>
    <section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
        <ul class="carousel-inner" #carousel>
            <li *ngFor="let item of items;" class="carousel-item">
                <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
            </li>
        </ul>
    </section>
    <app-buttons *ngIf="showControls" class="next-button" [buttonMetaData]="nextButton" (click)="nextButton.clickEvent()"></app-buttons>
</div>