.btn-content {
    width: 98px;
    display: flex;
    align-items: center;

    img {
        width: 1.5em;
        height: 1.5em;
        margin-right: 10px;
    }
}

.main-translation-btn {
    height: 100%;
    width:  100%;
    border-radius: 2em;
    padding-left: 12px;
    padding-right: 1px;
    font-size: 12px;
}