.btn-content {
    width: 98px;
    display: flex;
    align-items: center;
    img {
        width: 1.5em;
        height: 1.5em;
        margin-right: 10px;
    }
}
.main-translation-btn {
    height: 63px;
}